[project]
	description = OpenDaylight YANG Tools
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-yangtools-committers
	owner = group saml/odl-gerrit-yangtools-committers
	read = group GitHub Replication
	forgeCommitter = group Release Engineering Team
	push = group Release Engineering Team
	pushMerge = group Release Engineering Team
[access "refs/for/refs/*"]
	rebase = group Project Owners
[access "refs/heads/*"]
	rebase = group Project Owners
[submit]
	mergeContent = false
	action = rebase if necessary
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/v1.2.x:refs/heads/stable/nitrogen
[access "refs/for/refs/heads/*"]
	push = group Release Engineering Team
