---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2024 The Linux Foundation

name: GitHub to Gerrit Sync

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  github2gerrit:
    uses: ./.github/workflows/call-github2gerrit.yaml
    secrets: inherit
